<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
 <nav class="nav">
    <div class="container nav-inner">
      <a class="brand" href="{{ url_for('index') }}">FlaskCRUD</a>
      <div>
        <a class="btn btn-outline" href="{{ url_for('create') }}">+ New Item</a>
        <a class="btn btn-outline" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </nav>

     <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <h1>Create Item</h1>
    <form method="post" action="{{ url_for('edit',item_id=item.id) }}">
        <div class="form-row">
            <label for="title"><Title></Title>:</label>
            <input id="title" name="title" class="input" value="{{title|e}}">
        </div>
    </nav> 
     <form method="post" action="{{ url_for('edit',item_id=item.id) }}">
        <div class="form-row">
            <label for="title"><Title></Title>:</label>
            <input id="title" name="title" class="input" value="{{title|e}}">
        </div>
       <div>
        <div class="form-row">
            <label for="content">Description:</label>
            <textarea id="description" name="description" class="input">{{description|e}}    
            </textarea>
       </div>

        
        <div class="form-row">
        <button type="submit">Create</button>
        <a class="btn btn-primary" href="{{ url_for('edit', item_id=item.id) }}">Cancel</a>
        </div>
    </form>
 </main>
 <footer class="container">
<div class ="container"> @DEMO CRUD</div>
</div>
 </footer>
</body>
</html>